.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  
  &__form {
    padding-top: 50px;
  }
  
  &__google {
    padding-top: 50px;
    font-size: 10px;
  }
  
}

input[type=email], input[type=password]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

.input {
  text-align: center;
  font-weight: bold;
}

input[type=email]:focus, input[type=password]:focus {
  background-color: rgb(196, 227, 238);
}

.submit {
  background-color: #4CAF50;
  font-size: 15px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#google {
  font-size: 10px;
}
