.Navbar {
    border: 2px solid black;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;

    
    div {
        transition: all .15s ease-in-out;
        cursor: pointer;        
    }
    
    div:hover {
        font-weight: bold;
        border-top-left-radius: 2rem;
        border-bottom: 4px solid rgb(95, 95, 175);
        transform: scale(1.1);
    }
}