.LandingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-top: 50px;

    &__Header {
        border: 2px solid black;
        background-color: rgb(241, 234, 209);
        padding: 30px 15px;
        border-radius: 4px;
        margin-top: 5px;
    }

    &__Subheader {
        padding: 35px;
    }

}